#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.reply {
  margin-left: 20px;
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

.tweetWindow {
  border: 2px solid indigo;
  border-radius: 8px;            /* 角を少し丸く */
  padding: 16px;                 /* 内側の余白 */
  margin: 12px 0;                /* 上下の間隔 */
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽い影をつけて浮かせる感じ */
}